
$primary: #3B71CA;
$secondary: #96b9e9;
$secondary-gray: #9aa7b8;
$on-surface-dark: #0F1C33;
$on-surface-disabled: #B1B0B5;
$on-surface-light: #fff;
$background: #fff;
$surface: #F4F7F8;
$highlight: #EBF0F9;
$warning: #DC4C64;
$warning-2: #E4A11B;
$dw-blue: #0087d0;
$border-radius: 4px;

$border: 1.5px solid $surface;